# Counts Daily

In [1]:
import sqlite3

In [4]:
import pandas as pd

In [23]:
conn = sqlite3.connect('dpc.db')

df = pd.read_sql('SELECT * FROM count_tweets_daily', conn)

conn.close()

df.head()

       date  count
0  20140101      1
1  20140102      0
2  20140103      0
3  20140104      0
4  20140105      1

In [24]:
def transfer_date(string):
    year = string[:4]
    month = int(string[4:6])
    day = int(string[6:])
    return '/'.join([str(month), str(day), year])

In [25]:
dff = df.copy()
dff['date'] = list(map(lambda s: transfer_date(s), df['date']))
dff.head()

       date  count
0  1/1/2014      1
1  1/2/2014      0
2  1/3/2014      0
3  1/4/2014      0
4  1/5/2014      1

In [28]:
dff.set_index('date', inplace=True)
dff.to_csv('output/PB/daily.csv')

# Top @'s

In [30]:
conn = sqlite3.connect('dpc.db')

df = pd.read_sql('SELECT created_at, text, [extended_tweet.full_text] FROM tweets', conn)

conn.close()

df.head()

,created_at,text,extended_tweet.full_text
0,Wed Jan 01 11:27:40 +0000 2014,Domestic violence up during Christmas.1/4 wome...,None
1,Sun Jan 05 02:09:50 +0000 2014,Dr. Phil and His Viewers Don&amp;#039;t See Ey...,None
2,Wed Jan 08 23:27:19 +0000 2014,Loved all @charliepick's @Mamamia articles so ...,None
3,Thu Jan 09 04:39:49 +0000 2014,@charliepick fantastic article. Well said. But...,None
4,Thu Jan 09 13:35:54 +0000 2014,Well said... I feel a blog post coming on htt...,None

In [37]:
import sys

entities = {
    '2014': {},
    '2015': {},
    '2016': {},
    '2017': {},
    '2018': {}
}

for _, row in df.iterrows():
    year = row['created_at'][-4:]
    if year == '2019':
        break
    if row['extended_tweet.full_text']:
        text = row['extended_tweet.full_text']
    else:
        text = row['text']
    for token in text.split(' '):
        if token.startswith('@'):
            token += '/'
            i = 1
            while token[i].isalpha():
                i += 1
            if i > 1:
                handler = token[:i].lower()
                entities[year][handler] = entities[year].get(handler, 0) + 1

[4, 4, 4, 4, 4]

In [43]:
for year in range(2014, 2019):
    with open('output/handlers/'+str(year)+'.csv', 'w') as f:
        f.write('handler,count\n')
        handlers = entities[str(year)]
        for handler in list(reversed(sorted(handlers, key=handlers.get)))[:100]:
            f.write(handler+','+str(handlers[handler])+'\n')

# Names

In [ ]:
dic = {
    'abcnews':'ABC News',
    'whiteribbonaust':'White Ribbon',
    'qanda': 'ABC Q&A',
    'thetodayshow':'The Today Show',
    'theage':'The Age',
    'acurrentaffair':'A Current Affair (marketplace)',
    'theprojecttv':'The Project (news)',
    'dvvic':'DV Vic',
    'smh':'Sydney Morning Herald',
    'dv':'Demostic Violence',
    'buzzrothfield':'Phil Rothfield (sports journalist)',
    'tonyabbottmhr': 'Tony Abbott',
    'charliepick':'Charlie Pickering (host)',
    'danielandrewsmp': 'Dan Andrews (MP)',
    'rosiebatty': 'Rosie Batty',
    'billshortenmp': 'Bill Shorten',
    'corybernardi':'Cory Bernardi (conservative)',
    'mariska': 'Mariska Hargitay (actress)',
    'mikebairdmp': 'Mike Baird (politician)',
    'colleenhartland': 'Colleen Hartland (MP)',
    'changeaus': 'Change.org',
    'dailylifeau': 'Daily Life',
    'conversationedu': 'The Conversation (news analysis)',
    'familycourtau':'Family Court',
    'womensagenda':"Women's Agenda (news)",
    'turnbullmalcolm': 'Malcolm Turnbull',
    'annastaciamp': 'Annastacia Palaszczuk (MP)',
    'johnmcaldwell': 'John Caldwell (reporter)',
    'lizbroderick':'Elizabeth Broderick (activist)',
    'frichardsonmp': 'Fiona Richardson (MP)',
    'erin': 'Erin Caton (activist)',
    'vanbadham': 'Van Badham (commentator)',
    'kate': 'Kate (artist)',
    'carringtonkl': 'Kerry Carrington (professor)',
    'skinnergj':"Dougy's Daily Digest",
    'newscomauhq':'news.com.au',
    'youtube': 'Youtube',
    'bairdjulia':'Dr Julia Baird (journalist)',
    'paulinehansonoz':'Pauline Hanson (politician)',
    'lyleshelton':'Lyle Shelton (lobbyist)',
    'mirandadevine':'Miranda Devine (columnist)',
    'senatorcash':'Michaelia Cash (minister)',
    'skynewsaust':'Sky News',
    'nrl':'National Rugby League',
    'ourwatchaus':'Our Watch',
    'realmarklatham':'Mark Latham (politician)',
    'nathutchins':'Natalie Hutchins (politician)',
    'peterdutton':'Peter Dutton (MP)',
    'perkinsmiki':'Miki Perkins (editor)',
    'canberratimes':'Canberra Times',
    'dancingceo': 'Dancing CEO (lifestyle)',
    'scottmorrisonmp': 'Scott Morrison'
}

In [ ]:
# df = pd.read_csv('influencers.csv')
df.head()

In [ ]:
# df['name'] = list(map(lambda s: dic[s[1:]], df['handler']))

In [ ]:
df.head()

In [ ]:
# df.to_csv('influencers.csv')